.vscode/settings.json
__pycache__
Output/
Processed/
.ipynb_checkpoints/QB Passing - Explore Data-checkpoint.ipynb
.ipynb_checkpoints/QB Passing - Clean Data-checkpoint.ipynb
.ipynb_checkpoints/QB Passing - Models-checkpoint.ipynb
